<div class='container text-center' >
    <img src="/assets/barangay-logo.png" style="position: relative; top: 50%; transform: translateY(0%);" class="mx-auto d-block" width='60%'>
    <div class="d-grid gap-2 col-4 mx-auto">
        <%= link_to "Barangay 1",barangays_path, class:"btn btn-sm shadow-sm", style:"background-color:#6f42c1; color:#fff;" %>
    </div>
</div>